<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pablo12614.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/list"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.pablo12614.app.MainActivity"
            android:theme="@style/Theme.Base.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
